.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #FFE4C4;
    color: #000000;
}

h1 {
    font-family: Verdana, sans-serif;
    font-weight: 300;
}

.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #F082AC;
}

/* Stats */

.stats-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.scores-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFE4C4;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

.self {
    background-color: #FF7F50;
    padding: 10px;
}

.opponent {
    background-color: #8A2BE2;
    padding: 10px;
}

.self,
.opponent {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hitpoints-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.hitpoints-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ship-image {
    width: 80px;
    /* Adjust as needed */
    margin-right: 10px;
}

.hitpoints {
    display: flex;
    gap: 5px;
}

.hitpoint-image {
    width: 20px;
    /* Adjust the size of hit/miss images as needed */
    height: 20px;
}

/* Board.css */
.board-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.board-row {
    display: flex;
}


/* Cell.css */
.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #f0f0f0;
    /* Highlight the cell on hover */
}

.cell-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* General App Style */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.game-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

/* Ships Container */
.ship-container {
    display: inline-flex;              
    justify-content: space-between;   
    align-items: center;                
    margin-top: 20px;                
    padding-top: 10px;                     
    margin: 0 auto;             
    border: 1px solid #ccc;           
    background-color: #FFE4C4;;  
    border-radius: 10px;
}
  
  .ship {
    display: flex;                    
    justify-content: center;         
    align-items: center;              
    background-color: gray;           
    border: 1px solid #000;           
    cursor: pointer;                  
    margin: 0 10px;                   
    transition: all 0.3s ease;         
  }
  
  .ship-horizontal {
    width: auto;                       
    height: 50px;                     
  }
  
  .ship-vertical {
    width: 50px;                       
    height: auto;                      
  }
  